{% extends 'BasePage.html' %}

{% block pageTitle %}
會員登入
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/member.css">
{% endblock %}

{% block mainContent %}

	<div style="margin-top: 50px;"></div>
	<div id="message">
		<p class="subject">會員登入</p>
		<center><p style="color: #ff0000">{{msg}}</p></center>

		<form action="" method="post">
			{% csrf_token %}
			<table width="50%" border="0">
				<tr>
					<td><label>帳號:</label></td>
					<td><input type="email" name="email" value="{{myemail}}"  required placeholder="請輸入Email" /></td>
				</tr>

				<tr>
					<td><label>密碼:</label></td>
					<td><input type="password" name="password"  required  /></td>
				</tr>

				<tr>
					<td colspan="2">
						<button type="submit">登入</button>
						<a href="/register">註冊</a>
					</td>
					<!-- submit 用button跟input 差在css調整 用button 可調的範圍很大 -->
				</tr>

			</table>

		</form>
	</div>


{% endblock %}